* {
  box-sizing: border-box;
}




body {
  background-color: azure;
  --accent-color: rgb(245, 169, 69);
  --text-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;

}


body,
.input-text {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: var(--text-color);
}


.btn-toggle {
  position: absolute;
  align-items: flex-end;
  margin-top: -525px;
  margin-left: 1100px;
}


.fas{
font-style: normal;
margin-bottom: 3px;
}

.checkbox {
	opacity: 100;
	position: absolute;
}
.label {
	background-color: black;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px;
	position: relative;
	height: 26px;
	width: 50px;
  transform: scale(1.2);

}

.label .ball {
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(26px);
}





.container {
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: 0.3rem;
  width: 800px;
  max-width: 90%;
  margin-top: 50px;
}



.timer {
  position: absolute;
  top: 3rem;
  font-size: 3rem;
  color: var(--accent-color);
  font-weight: bold;
}


#bestTime {
  position: absolute;
  top: 8rem;
  font-size: 1rem;
  color: var(--text-color);
}

.random-text { 
 margin-bottom: 1rem;
 margin-left: calc(1rem + 2px);
 margin-right: calc(1rem + 2px);
 


/* Disabling Text Selection */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.input-text {
  background-color: var(--accent-color);
  border: 2px solid #eeeeee;
  outline: none;
  width : 100%;
  height: 10rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.input-text:focus {
  border-color: black;
}

.correct {
  color: rgb(9, 255, 0);
}

.incorrect {
  color: red;
  text-decoration: underline;
}

body.dark {
	background-color: #272626;
  --accent-color: rgb(3, 80, 143);
  --text-color: rgb(255, 255, 255);

}

span {
  color: var(--text-color);
}







