* {
    box-sizing: border-box;
}
body {
    background-color: #6d6d6d ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}
body, .input-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    background-color: #4f15ac;
    padding: 1rem;
    border-radius: 0.3rem;
    width: 700px;
    max-width: 90%;
    
}

.timer {
    position: absolute;
    top: 3rem;
    font-size: 3rem;
    color: #4f15ac;
    font-weight: bold;

}